@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

:root {
  --primary: #172554;
  --accent: #4f46e5;

  --background: #f8fafc;
  --surface: #ffffff;

  --text-primary: #0f172a;
  --text-secondary: #64748b;

  --success: #16a34a;
  --warning: #f59e0b;
  --danger: #dc2626;

  --border: #e2e8f0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
}

.font-google {
  font-family: "Google Sans", sans-serif;
}